body {
  /* Stripe Desing in */
  background-image: linear-gradient(45deg, #ffffff 12.50%, #f7fafc 12.50%, #f7fafc 25%,
   #eff5f7 25%, #eff5f7 37.50%, #ebf1f5 37.50%, #ebf1f5 50%, #ffffff 50%, #ffffff 62.50%,
    #f7fafc 62.50%, #f7fafc 75%, #eff5f7 75%, #eff5f7 87.50%, #ebf1f5 87.50%, #ebf1f5 100%);
  background-size: 1131.37px 1131.37px;

}

/* SLIDE SHOW ##############################################################################################################################*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1160px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.p4{
  margin-left: 1%;
 font-size: 10%;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Popup container 2 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup2 .popuptext2 {
  visibility: hidden;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.911);
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 92%;
  left: 13%;
  margin-left: -60px;

}

/* Popup arrow */
.popup2 .popuptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
h8 {
    margin: 2em;
  }

  p.padding {
    padding-left: 2cm;
    padding-right: 2cm;
    line-height: 1.7;
    font-family: "Georgia", monospace;
    font-size:120%;
  }
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container 3 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup3 .popuptext3 {
  visibility: hidden;
  width: 100%;
  height: 45%;
   color: #fff;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  
}

/* Popup arrow */
.popup3 .popuptext3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup3 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup container 4 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup4 .popuptext4 {
  visibility: hidden;
  width: 100%;
  height: 77%;
  background-color: rgba(0, 0, 0, 0.911);
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 10%;
  margin-left: -60px;
  
}

/* Popup arrow */
.popup4 .popuptext4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup4 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup container 5 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup5 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup5 .popuptext5 {
  visibility: hidden;
  width: 100%;
  height:55%;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  color: #fff;
}

/* Popup arrow */
.popup5 .popuptext5::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup5 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container 6 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup6 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup6 .popuptext6 {
  visibility: hidden;
  width: 100%;
  height: 55%;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  color: #fff;
}

/* Popup arrow */
.popup6 .popuptext6::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup6 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container 7 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup7 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup7 .popuptext7 {
  visibility: hidden;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  color: #fff;
}

/* Popup arrow */
.popup7 .popuptext7::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup7 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container 8 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup8 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup8 .popuptext8 {
  visibility: hidden;
  width: 100%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  color: #fff;
}

/* Popup arrow */
.popup8 .popuptext8::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup8 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container 9 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup9 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup9 .popuptext9 {
  visibility: hidden;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  color: #fff;
}

/* Popup arrow */
.popup9 .popuptext9::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup9 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container 10 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.popup10 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup10 .popuptext10 {
  visibility: hidden;
  width: 100%;
  height: 52%;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
  border-radius: 16px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 12%;
  margin-left: -60px;
  color: #fff;
}

/* Popup arrow */
.popup10 .popuptext10::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup10 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
  position: absolute;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*###########################################################################################################################################################*/

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 90%;
  height: 100%;
}




h1 {
  color: rgb(60, 65, 66);
  margin-left: 20px;
 /* font-family: "Lucida Console", Courier, monospace; */
}


div.background {
  background: url(klematis.jpg) repeat;
  border: 0px solid rgb(37, 30, 30); 

}
/* Container holding the image and the text */
.container {
  position: relative;
}
table, td {
  border: 1px solid rgba(255, 253, 253, 0);
  padding: 0 2% 2% 0;
  margin: 4%;
}
.border-Donate{
  border: 3px solid rgba(80, 78, 82, 0.596); 
  width: 100%;
  padding-left: 2%;
  padding-right: 2%; 
  box-shadow: 0 30px 40px  rgba(0,0,0,.2);

}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 3px solid rgba(80, 78, 82, 0.596); 
  
}
.column2{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 3px solid rgba(255, 255, 255, 0); 
  style="table-layout:fixed;
  
}
.p91{
  font-size: 25px;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center12{
  margin: 5%;
  position: center;
}
.center13{
  margin: 5%;
  table-layout: auto;
  width: 90%;
  height: 200%;
  border: 0px solid;
  text-align: left;
  
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 25%;
  
 

}
/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 70px;
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 60%;
  width: 60%;
}

div.transbox {
  margin: 4px;
  background-color: rgba(99, 117, 121, 0.664);
  border: .5px solid rgba(255, 255, 255, 0); 
  box-shadow: 0 20px 20px  rgba(0,0,0,.2);
 
  height: 50px;
}
.row {
  display: flex;
  
}
iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.pic {
  
  position: relative;
  display: inline-block;
 
}
.pic .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.pic:hover .img-top {
  display: inline;
}

div.transbox p {
  margin: 1%;
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
}
.responsive {
  width: 100%;
  height: auto;
}
.responsive-img1 {
  width: 20%;
  height: auto;
}
p1{
  color: rgb(67, 73, 75);
  margin-left: 40px;
 /* font-family: "Lucida Console", Courier, monospace; */
  font-size: 25px;
}
p2 {
  color: rgb(48, 52, 53);
  margin-left: 40px;
  /* font-family: "Lucida Console", Courier, monospace; */
  font-size: 17px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(99, 117, 121);
  overflow: hidden;
  box-shadow: 0 10px 9px 0 rgba(0,0,0,.2);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: #EBF9FB;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(255, 255, 255);
 /* font-family: "Lucida Console", Courier, monospace; */
  min-height: 40px;
  box-shadow: 0 5px 9px  rgba(0,0,0,.2);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(225, 229, 233);
  color: rgb(100, 101, 102);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #c7cfd1;
  color: rgb(83, 81, 81);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    background-color: rgb(99, 117, 121);
    overflow: hidden;
    box-shadow: 0 10px 9px 0 rgba(0,0,0,.2);
  }
  

}
